.footer a{
    color: rgb(94, 92, 92);
    text-decoration-line: none;
}
.footer{
    background-color: #a9a9a9cc;
    text-align: center;
    bottom: 0;
    color: #5E5C5C;
    position: fixed;
    width: 100%;
}
