
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Spectral:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap);



@font-face {
  font-family: 'FONT-PARSALPHA';
  src:  url(./fonts/fontvazir/Vazir-Bold-FD.eot);
  src:  url(./fonts/fontvazir/Vazir-Bold-FD.eot) format('embedded-opentype'),
    url(./fonts/fontvazir/Vazir-Bold-FD.ttf) format('truetype'),
    url(./fonts/fontvazir/Vazir-Bold-FD.woff) format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  color: #fff;
  font-family: "FONT-PARSALPHA";
  background-image: url(https://images.unsplash.com/photo-1508389377389-b8221c0bcc9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-position: top top;
  background-size: cover;
  margin: 0;
  position: relative;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgb(49, 49, 177);
  background: linear-gradient(
    0deg,
    #1adaef79  0%,
    #1adaefc2 50%,
    #1ADBEF 100%
  );
}

.container {
  width: 100%;
  margin: 15% auto;
}
.container .sub{
  font-weight: 900;
}
.col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  .container {
    width: 1100px;
  }
  h1 {
    font-size: 58px;
  }
}
